{{!< default}}
{{!--
Template Name: Colophon
Description: How this site is made - celebrating craft and independence.
All content is editable through Ghost. Just write in the editor!
--}}

{{#post}}
<article class="colophon-layout {{post_class}}">
    <div class="colophon-container">
        <header class="colophon-header reveal-on-scroll">
            <h1 class="colophon-title kinetic-text">{{title}}</h1>
            {{#if custom_excerpt}}
                <p class="colophon-intro">{{custom_excerpt}}</p>
            {{/if}}
        </header>

        <div class="colophon-body gh-content reveal-on-scroll">
            {{content}}
        </div>
    </div>
</article>
{{/post}}
