/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --color-primary: var(--ghost-accent-color, #E8C547);
    --color-base: #ffffff;
    --color-secondary: #E8C547;
    --color-border: #333;
    --background-color: #000000;
    --text-color: #ffffff;

    /* Fonts */
    --font-sans: Mulish, sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;
    --header-spacing: max(6vw, 64px);
}
